extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success()
  +alert-error()

  .hero-section.mb-5
    .container
      .row.align-items-center
        .col-md-6.hero-content
          p.hero-eyebrow Sản phẩm chọn lọc mỗi ngày
          h1.hero-title Mua sắm dễ hơn với những sản phẩm đang được yêu thích
          p.hero-desc Tìm nhanh sản phẩm phù hợp, xem giá rõ ràng và thêm vào giỏ chỉ trong vài thao tác.
          .hero-actions
            a.btn.btn-primary.hero-btn(href="/products")
              i.fa-solid.fa-bag-shopping.mr-2
              | Xem sản phẩm
            a.btn.btn-outline-dark.hero-secondary(href="/cart")
              i.fa-solid.fa-cart-shopping.mr-2
              | Giỏ hàng
        .col-md-6.hero-image
          img.img-fluid(src="https://images.unsplash.com/photo-1556742502-ec7c0e9f34b1?q=80&w=1470&auto=format&fit=crop", alt="Khách hàng mua sắm trực tuyến")

  .container
    .shop-benefits
      .benefit-item
        i.fa-solid.fa-truck-fast
        div
          strong Giao hàng nhanh
          span Theo dõi đơn dễ dàng
      .benefit-item
        i.fa-solid.fa-shield-halved
        div
          strong Sản phẩm rõ nguồn
          span Thông tin minh bạch
      .benefit-item
        i.fa-solid.fa-rotate-left
        div
          strong Hỗ trợ đổi trả
          span Mua sắm yên tâm

  .container.my-5
    .row
      .col-12
        +box-head("Sản phẩm nổi bật")

    .row
      each item in productsFeatured
        .col-12.col-sm-6.col-lg-4.mb-4
          .product-item
            .inner-image
              a(href=`/products/detail/${item.slug}`)
                img(src=item.thumbnail, alt=item.title)
            .inner-content
              h3.inner-title 
                a(href=`/products/detail/${item.slug}`) #{item.title}
              .inner-price-new #{item.priceNew}$
              if(item.discountPercentage)
                .inner-price-old #{item.price}$
              .inner-discount -#{item.discountPercentage}%

    .row
      .col-12
        +box-head("Sản phẩm mới")

    .row
      each item in productsNew
        .col-12.col-sm-6.col-lg-4.mb-4
          .product-item
            .inner-image
              a(href=`/products/detail/${item.slug}`)
                img(src=item.thumbnail, alt=item.title)
            .inner-content
              h3.inner-title 
                a(href=`/products/detail/${item.slug}`) #{item.title}
              .inner-price-new #{item.priceNew}$
              if(item.discountPercentage)
                .inner-price-old #{item.price}$
              .inner-discount -#{item.discountPercentage}%
